.react-datepicker__day--keyboard-selected{
    background-color: transparent;
    
}
.react-datepicker__day--in-range{
    color: #fff;
    background-color:#216ba5;
}

.alert_container{
    position: fixed;
    top: 1%;
    right: 5%;
}

.room__button{
    cursor: pointer;
}

@media only screen and (min-width: 1000px){
    .calendar{
        margin-top: 40%;
        height: 60%;
        margin-left: 17%;

    }
    .room__button{
        margin-left: 145px;
    }
}