.main {
    background-image: url(../images/home/pic-exterior.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    min-width: 375px;
    min-height: 531px;

    p {
        font-family: Archivo;
        width: 237px;
        height: 36px;
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 2.799999952316284px;
        text-align: left;
    }

    h1 {
        width: 314px;
        height: 120px;
        font-family: Old Standard TT;
        font-size: 56px;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: -1.2000000476837158px;
        text-align: left;
        margin: 25px 0px 25px 0px;
    }

    &__title {
        padding: 70px 0px 0px 27px;
    }

    .taketour__container{
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-left: 20px;
        margin-top: 45px;
    }
    .taketour__button,
    .learn__button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .taketour__button {
        width: 216px;
        background-color: #BEAD8E;
        height: 60px;
        text-decoration: none;
        color: white;
        font-family: Archivo;
        font-size: 14px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 2.799999952316284px;
        
    }

    .learn__button {
        text-decoration: none;
        color: white;
        width: 216px;
        height: 60px;
        font-family: Archivo;
        font-size: 14px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 2.799999952316284px;
        border: 2px solid #767676;
    }


}

@media only screen and (min-width: 1000px){
    .taketour_section-header-rect{
        height: 100px;
        width: 100%;
    }
    .taketour_section-content{
        width: 70%;
        max-width: 1024px;
        p{
            margin-top: 130px;
            font-size: 14px;
        }
        h1{
            font-size: 120px;
            line-height: 130px;
            letter-spacing: -3.6px;
            max-width: 825px;
        }
    }
    .taketour_section-button-content{
        flex-direction: row;
        margin-bottom: 10px;
    }
    .button-learnmore{
        margin: 0 50px 65px;
    }
}