$background-white: #FFFFFF;
$background-black: #222222;
$background-black-light: #292929;
$background-grey: #333333;
$background-grey-light: #F9F9F9;
$background-footer: #F8F8F8;
$letterColor-black: #111111;
$letterColor-grey: #686868;
$letterColor-grey-light: #777777;
$archivo-font: Archivo;
$old-standard-font: 'Old Standard TT';
$roboto-font: 'Roboto';
$weight-400: 400;
$weight-600: 600;
$weight-700: 700;
$color-botton: #BEAD8E;
$color-brown-light: #BDAC8D;
$color-grey-light-letter: #C2C2C2;

.rooms__about__section{
    background-color: $background-grey;
    width: 100%;
}
.rooms__about__section-general{
    display: flex;
    flex-direction: column;
}
.rooms__about__section-info{
    max-width: 320px;
    margin: auto;
    height: 250px;
    width: 90%;
    h2{
        font-size: 13px;
        font-family: $archivo-font;
        font-weight: $weight-700;
        line-height: 18px;
        letter-spacing: 2.8px;
        color: $background-white;
        padding-top: 70px;
        margin-bottom: 16px;
    }
    h1{
        font-size: 56px;
        font-family: $old-standard-font;
        font-weight: $weight-400;
        line-height: 60px;
        letter-spacing: -1.2px;
        color: $background-white;
    }
}
.rooms__about__section-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
    margin-right: 6%;
    align-items: center;
    background-color: $background-white;
    width: 156px;
    height: 49px;
    a{ 
    cursor: pointer;
    
    &:hover {
        transform: scale(1.02);
    }
    }
}
.rooms-link-home{
    font-size: 16px;
    font-family: $archivo-font;
    font-weight: $weight-700;
    line-height: 17.41px;
    letter-spacing: -0.48px;
    color: $background-black;
    text-decoration: none;
}
.rooms-link-about{
    font-size: 16px;
    font-family: $archivo-font;
    font-weight: $weight-700;
    line-height: 17.41px;
    letter-spacing: -0.48px;
    color: $color-botton;
    text-decoration: none;
}

.rooms__slider__section{
    width: 100%;
}
.rooms-slider-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.rooms-slider {
    max-width: 600px;
    margin: auto;
    margin-top: 45px;
    h3{
        font-family: $old-standard-font;
        font-weight: $weight-400;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -0.72px;
        color: $background-black;
        text-align: center;
        margin-top: 48px;
    }
    p{
        font-family: $roboto-font;
        font-weight: $weight-400;
        font-size: 14px;
        line-height: 24px;
        color: $letterColor-grey-light;
        text-align: center;
        margin: 13px 0px;
    }
    img{
        max-width: 100%;
        border-radius: 3px;
    }   
}
.rooms__grid-price{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    span{
        font-family: $archivo-font;
        font-weight: $weight-700;
        font-size: 16px;
        line-height: 17.41px;
        color: $color-botton;
    }
    form{

        button{
            font-family: $archivo-font;
            font-weight: $weight-700;
            font-size: 16px;
            line-height: 17.41px;
            color: #BDBDBD;
            border: none;
            background: transparent;
            transition: transform;
            text-decoration: none;
        }
        button:hover{
            transform: scale(1.05);
            background-color: #BEAD8E;
            color: white;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;
            width: 114px;
        }
    }
}
.rooms-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.rooms-pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
  
.rooms-pagination .rooms-pages {
    display: flex;
}
  
.rooms-pagination .rooms-pages button {
    border: none;
    background: transparent;
    padding: 5px 8px;
    cursor: pointer;
}
  
.rooms-pagination .rooms-pages button.active {
    background-color: $color-botton;
    color: $background-white;
}


.rooms__section-amenities{
    width: 256px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid $color-botton;
    background-color: white;
    margin: auto;
    margin-top: -24px;
    z-index: 1;
    position: relative;
}


@media only screen and (min-width: 1000px){
    .rooms__about__section-general{
        margin: auto;
        max-width: 1024px;
    }
    .rooms__about__section-info{
        max-width: 582px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .rooms-slider-container{
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: row;
        width: 100%;
    }
    .rooms__slider__section{
        background-color: $background-grey-light;
        max-width: 1200px;
        margin: auto;
    }
    .rooms-slider{
        max-width: 300px;
        height: 395px;
        background-color: $background-white;
    }
    .rooms__grid-price{
        form{
            button:hover{
                background-color: #BEAD8E;
                color: white;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2px;
                width: 114px;
            }
        }
    }
}